__pycache__
.ipynb_checkpoints
HEIF
aadharcard.png
dnnmodelsd.py
frozen_model.pb
image_preprocessing.py
jeet.png
imager.py
MNIST.pb
mnist.py
new.py
pancard.pdf
pancard.png
ppr.py
preprocessing.ipynb
preprocessing.py
processed.png
pytes.py
requirements.txt
result.txt
env
temp2.jpg
test_num.png
test4.png

